body {
    background: url(images/seryi.jpg) no-repeat;
    background-size: 130%;
   }
 ul.rega{
  width:350px;
 }
 
 ul.rega li{
	float:left;
	width:100px;
	list-style:none;
 }

 ul.rega li.in{
	width:250px;
	list-style:none;
 }